<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDisplayName</key>
		<string>Power. Motion. Play</string>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSExceptionDomains</key>
			<dict>
				<key>powmotpla.com</key>
				<dict>
					<key>NSIncludesSubdomains</key>
					<true />
					<key>NSExceptionAllowsInsecureHTTPLoads</key>
					<true />
					<key>NSExceptionRequiresForwardSecrecy</key>
					<false />
				</dict>
			</dict>
		</dict>
		<key>NSCameraUsageDescription</key>
		<string>This app needs access to your camera for game features.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>This app needs access to your microphone for game features.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>This app needs access to your photo library.</string>
		<key>NSMotionUsageDescription</key>
		<string>This app uses motion data for game features.</string>
	</dict>
</plist>